@import url('https://fonts.googleapis.com/css2?family=Poltawski+Nowy:wght@500&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #3b3c36;
    background-image: linear-gradient(to top, #ffffff, #f4f6ff, #e5efff, #d1e9fe, #b9e4fa);
}

/* headings & logos */

h1, h2 {
    font-family: 'Poltawski Nowy', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #3b3c36;
}

h2 {
    text-align: center;
    padding-top: 10px;
}

.logo {
    float: left;
    font-size: 250%;
    margin-left: 30px;
}

.menu {
    font-size: 110%;
    letter-spacing: 4px;
    float: right;
}

.menu, .logo {
    line-height: 75px;
}

.menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

.menu a {
    text-decoration: none;
    color: inherit;
}

.menu a:hover {
    border-bottom: 2px solid #3b3c36;
}

/* hero image and cover text*/

.hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.webp') no-repeat center center;
    overflow: hidden;
    position: relative;
}

.hero-outer {
    position: relative;
}

.cover-text {
    font-size: 130%;
    font-family: 'Poltawski Nowy', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 250px;
    height: 200px;
    
    padding-top: 40px;
    padding-left: 20px;

    background-color: rgba(255,255,255, 0.5);

    top: 100px;
    right: 150px;

    position: absolute;
}

/* form */

.signup-form, .signup-form h2 {
    color: #3b3c36;
    text-align: center;
}


.signup-form {
    margin: auto;
    background-color: rgba(185, 228, 250, 1);
    max-width: 400px;
    height: 300px;
    left: 10%;
    padding: 30px;
    display: flex;
}

.signup-form, label {
    text-align: left;
    font-size: 1em;
    color: #3b3c36;
}

.text-input {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
}

.submit_button {
    background-color: #3b3c36;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

/* facilities */

.facilities_units {
     display: flex;       
     height: 300px;
     justify-content: space-around;
}

.left-side {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 33%;
    background-color: #B9E4FA;
    text-align: center;
    border: 3px solid #3b3c36;
    text-transform: uppercase;
    font-size: large;
    font-weight: bold;
    letter-spacing: 4px;
}

.right-side {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 33%;
    background-color: #B9E4FA;
    text-align: center;
    border: 3px solid #3b3c36;
    text-transform: uppercase;
    font-size: large;
    font-weight: bold;
    letter-spacing: 4px;
}

.center {
    width: 33%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #B9E4FA;
    text-align: center;
    border: 3px solid #3b3c36;
    text-transform: uppercase;
    font-size: large;
    font-weight: bold;
    letter-spacing: 4px;
}

/* reviews */

.left-review {
    padding-top: 30px;
    width: 33%;
    height: 300px;
    float: left;
    text-align: center;
    font-size: large;
    letter-spacing: 4px;
}

.right-review {
    padding-top: 30px;
    width: 33%;
    height: 300px;
    float: right;
    text-align: center;
    font-size: large;
    letter-spacing: 4px;
}

.center-review {
    padding-top: 200px;
    width: 33%;
    height: 200px;
    margin: 0 auto;
    text-align: center;
    font-size: large;
    letter-spacing: 4px;
}

/* about */

.about_us {
    height: 300px;
    width: 100%;
    background-color: #B9E4FA;
    border: 3px solid #3b3c36;
}

.about-section {
    text-align: center;
}

.about-section p {
    font-weight: bold;
    font-size: large;
    letter-spacing: 4px;
}

.contact-section {
    text-align: center;
}

.contact-section li {
    font-weight: bold;
    font-size: large;
    letter-spacing: 4px;
}

.contact-section h2 {
    padding-top: 5%;
}

/* footer */

.social-media {
    text-align: center;
}

.social-media > li {
    display: inline;
}

.social-media i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3b3c36;
}

/* media queries */

/* for larger and medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {
    .reviews_section {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    .reviews_units {
        padding: 30px 0;
        margin: 0;
    }

    .left-review, .right-review {
        width: 100%;
        float: left;
        padding: 0;
        font-weight: 900;
    }

    .center-review {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
        font-weight: 900;
    }

    .left-review h3 {
        font-size: 40px;
    }

    .right-review h3 {
        font-size: 40px;
    }

    .center-review h3 {
        font-size: 40px;
    }

}